{% extends 'admin.html.twig' %} {% block body %}
<div class="m-5">
    <div class="container">
    
        {{ form(form) }}

        <p class='mt-5'> Le mode gratuit est : <b>{{ free }} </b></p>
    </div>
</div>
{% endblock %}