<div class="container">
    <div> <img class="ml-3" src="{{ 'https://nasrulex.com/public/assets/img/Nasurlex-logo.png'}}" alt="">
    </div>
</div>

<div class="container">

    <h3>Contenu du message
    </h3>
    <p>{{message}}
   </p>

</div>